<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/card.css" />

    <link rel="stylesheet" href="https://css-doodle.com/api?css" />
  </head>
  <body>
    <div class="bubble">
      <svg class="heart" viewBox="0 0 600 500">
        <path d="M300,150 C500,10 600,300 300,400 C0,300 100,10 300,150" />
      </svg>
      <div class="bubble-dummy"></div>
    </div>

    <div class="birthdayCard">
      <div class="cardFront">
        <h3 class="happy">Happy Birthday Moyo!!</h3>
        <div class="herPhoto">
          <img src="./Images/img10.jpg" alt="" />
        </div>
        <div class="balloons">
          <div class="balloonOne"></div>
          <div class="balloonFour"></div>
        </div>
        <div class="info">Tap for a Message</div>
      </div>
      <div class="cardInside">
        <h3 class="back">Cheers to 19!!</h3>
        <p id="#typed-text">
          On this Special day, I wanted to take a moment to let you know just
          how incredible you are. Your friendship has been a constant source of
          joy and inspiration in my life, and I feel incredibly lucky to have
          you in my life. Your kind heart and unwavering support have made every
          moment we've shared memorable. Every time spent with you is always a
          highlight. Thank you for being the amazing person that you are, and
          for being a friend I can always count on. Here's to another year of
          laughter, adventures, and creating beautiful memories together. Love you loads!❤️❤️
          <p>P.S ~ More 5.0 in the bag!</p>
        </p>
      </div>
    </div>
    <!-- <script src="/js/script.js"></script> -->
    <script src="./js/card.js"></script>
  </body>
</html>
