<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/nav.css">
</head>
<body>
    <nav class="top-nav">
        <p class="title">Moyo's 19th</p>
        <p class="date"> May 13</p>
        <p class="time">12:00am</p>
      </nav>
      

      <div class="buttonContainer">
        <a href="/components/card.html">
          <button class="myButton" onclick="redirectToPage()">
            <span style="font-size: 1.5rem">Tap Me!!</span>
          </button>
        </a>
      </div>


  
    
</body>
</html>